---
title: Tying your shoes - slides and transcript
description: Slides and transcript of a talk called ‘Tying your shoes’ that I presented at Ruby Manor Classic on Saturday, 22nd November, 2008
prepend_toc_items:
  - id: video
    title: Video
---
<% content_for(:title) { 'Tying your shoes' }%>
<% content_for(:footnotes) do %>
  <% footnote_definition 1 do %>This brilliant mnemonic is rather moot now as the shoooes.net website has gone away, and shoes lives at [shoesrb.com](http://shoesrb.com/) now.<% end %>

  <% footnote_definition 2 do %>I actually [built this hat-based UI](https://github.com/h-lame/lruggery/blob/master/names_from_a_hat/hat.rb) for one of the LRUG lightning talk events where we would randomise the order of the speakers.  I think this talk came after I wrote that script, so this must be me poking fun at myself.<% end %>

  <% footnote_definition 3 do %>Of course, almost all of the links in this slide are out of date now so I've updated the ones in the transcript to refer to modern equivalents.  Hopefully they don't go out of date too.<% end %>

  *[UI]: User Interface
  *[LRUG]: London Ruby User Group
<% end %>
<% content_for(:video) do %>
  A [video of this talk](http://rubymanor.org/videos/gui_manor_born/) is available from [Ruby Manor](http://rubymanor.org/classic/):

  [<img class="video-poster" src="http://assets.h-lame.com/images/talks/tying-your-shoes/ruby-manor-video-poster.jpg" title="Video of the talk" alt="a screenshot of the video for the talk from the ruby manor website">](http://rubymanor.org/videos/gui_manor_born/)

  This video is of the full talk including the shared intro, Martinʼs monkeybars talk, and my shoes talk.  The shoes part of the talk starts at about 22minutes.
<% end %>
I gave this talk at [Ruby Manor Classic](http://rubymanor.org/classic/).  I gave it alongside [Martin Sadler](https://twitter.com/martinbtt) as a two parter about building GUIs with Ruby.  Martin spoke about using <a href="http://monkeybars.rubyforge.org/">monkeybars</a> via Jruby, and we had a shared intro.  This transcript only covers my part of the talk, not the shared intro, and not Martinʼs bit.

The transcript comes from my presenter notes and these were a first draft, so itʼs very unlikely to be a word-for-word copy of what I said on the day.  It should be very close though.


*[GUIs]: Graphical User Interface
