body {
  background-color: white;
  background-image: url('http://assets.h-lame.com/images/rocky-background.png');
  background-position: top center;
  background-repeat: no-repeat;
  color: #664D33;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0px;
}
#holding_pattern {
  font-size: 0.75em;
  line-height: 1.66667em;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.16667em;
}
#intro {
  width: 405px;
  padding-left: 21px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 153px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  height: 103px;
  text-align: justify;
  background-image: url('http://assets.h-lame.com/images/speech_balloon_intro.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-color: transparent;
}
#intro * {
  display: inline;
}
#intro h1, #intro h2 {
  white-space: nowrap;
}

#content {
  width: 605px;
  padding-left: 21px;
  padding-right: 33px;
  padding-bottom: 30px;
  padding-top: 64px;
  height: 204px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  background-image: url('http://assets.h-lame.com/images/speech_balloon_content.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-color: transparent;
}

#content ul {
  margin-left: 0;
  padding-left: 0;
}
#content ul li {
  display: inline;
  margin: 0;
  padding: 2px;
  border: 1px transparent;
}
#content ul li a {
  text-decoration: none;
  border-bottom: 1px solid #475D74;
  white-space: nowrap;
}
#content ul li a img {
  border: none;
  margin-right: 5px;
  vertical-align: text-bottom;
}
#outro {
  font-size: 0.75em;
  line-height: 1.33333em;
  width: 540px;
  padding-left: 21px;
  padding-right: 33px;
  padding-bottom: 30px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  background-image: url('http://assets.h-lame.com/images/speech_balloon_outro.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: -30px;
  height: 12px;
}
#outro * {
  display: inline;
}
a {
  color: #475D74;
  font-weight: bold;
}
