<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Haggis&Neeps&Tatties&Poyums.</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="Haggis&Neeps&Tatties&Poyums. A burns night celebration.">

  <meta property="og:title" content="Haggis&Neeps&Tatties&Poyums.">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://h-lame.com/burns/">
  <meta property="og:image" content="https://assets.h-lame.com/images/haggis-neeps-tatties-poyums.png">
  <meta property="og:image:alt" content="Haggis&Neeps&Tatties&Poyums.">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">

  <meta name="theme-color" content="#fafafa">
  <%= stylesheet_link_tag "burns/main" %>
</head>

<body>
  <%= partial 'header' %>
  <main>
    <article class="burns">
      <p>Haggis&</p>
      <p>Neeps&</p>
      <p>Tatties&</p>
      <p>Poyums.</p>
    </article>
    <footer>
      <p>If ye dinnae ken <a href="https://en.wikipedia.org/wiki/Burns_supper">read yon</a>.  Inspired by <a href="https://www.jetset.nl/archive/john-paul-ringo-george">Experimental Jetset</a>.  The bonny background is <a href="https://www.tartanregister.gov.uk/tartanDetails?ref=3063">Murray of Atholl</a> via <a href="https://tartanify.com/tartan/murray-of-atholl-3">Tartanify</a> and <a href="https://projects.verou.me/css3patterns/#tartan">CSS cannyness</a>.</p>
    </footer>
  </main>
  <%= partial 'footer' %>
</body>

</html>
