---
title: Re-interpreting data (RubyConf ’23 version) – slides and transcript
description: Slides and transcript of a talk called ‘Re-interpreting data’ that I presented at RubyConf ’23 in San Diego on Tuesday, 14th November, 2023
prepend_toc_items:
  - id: video
    title: Video
---
<% content_for(:title) { '<a href="/talks/re-interpreting-data/">Re-interpreting data</a> ∋ RubyConf 2023' }%>
<% content_for(:video) do %>
  A [video of this talk](#) is available from [Ruby Central](https://rubycentral.org/):

  [<img class="video-poster" src="http://assets.h-lame.com/images/talks/re-interpreting-data/rubyconf-2023/video-poster.jpg" title="Video of the talk" alt="a screenshot of the youtube video of the talk filmed by Ruby Central">](#)
<% end %>
<% footnotes do %>
  <% fndf 1 do %>...<% end %>
<% end %>
I gave this talk at [RubyConf ’23 held in San Diego in November 2023](https://rubyconf-2023.sessionize.com/session/531240).

I was proud of the version of this I gave at [LRUG in January 2020](/talks/re-interpreting-data/lrug-jan-2020), but I knew I had rushed the slides and was convinced there was a better version lurking in it.  I decided to submit it for [RubyConf 2023](https://rubyconf.org) and I was surprised and delighted to be selected.  That gave me the opportunity to work on that better version by expanding on some of the text heavy slides in the original by adding graphics to help explain the concepts, and to provide a slightly more coherent conclusion focussing on encouraging curiosity and fun while coding.

There is a video of this talk and while this transcript is mostly from my presenter notes, I have added some of the “off script” moment from the recording.  This transcript is therefore considered the “author’s preferred text”.
