html {
  color: #222;
  font-size: 1em;
  line-height: 1.625;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  font: Helvetica, Helvetica Neue, Arial;
}

a {
  word-break: break-word;
}

header, main, footer {
  position: relative;
}

.numberer {
  counter-reset: numberer-counter;
}
.numberer .numbered {
  position: relative;
}
.numberer .numbered > *:first-child:before {
  content: counter(numberer-counter);
  counter-increment: numberer-counter;
  display: inline-block;
  position: absolute;
  top: -1em;
  left: 1em;
  padding: 0 10px;
  background: #fff;
  color: #ccc;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

main {
}

main section, main footer {
  border-top: 4px double #ccc;
}
main section {
  padding: 1em 0;
}

.talk-section {
  white-space: nowrap;
}
.talk-section > div, .talk-section > figure {
  box-sizing: border-box;
  text-align: left;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.talk-section > .slides {
  text-align: center;
  padding: 6px;
}
.slides .slide {
  margin-left: auto;
  margin-right: auto;
}
.slides figcaption {
  margin-top: 1em;
}
.talk-section > .transcript {
  white-space: normal;
}

.talk-section > .transcript *:first-child {
  margin-top: 0;
}
.talk-section > .transcript *:last-child {
  margin-bottom: 0;
}

code {
  background: #eee;
  border-radius: 4px;
  padding: 3px;
}

#menu {
  background: #ccc;
  z-index: 100;
}
.revealer > .reveal-name::before {
  content: '▸ ';
}
.revealer:hover .reveal-name::before {
  content: '▾ ';
}
.revealer > .revealee {
  display: none;
}
.revealer:hover > .revealee {
  display: block;
}

img.video-poster,
img.slide {
  display: block;
  box-shadow: 0 0 0 1px #eee, 0 0 0 5px #fff, 0 0 5px 5px #aaa;
  vertical-align: middle;
  width: 90%;
}
img.video-poster {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
  }
}
