---
title: 'Demo time: WAV (pt. 2)'
id: slide-015
terminal_output: |-
  <p class="terminal">irb(main):004:0&gt; RbConfig.ruby
  <span class="command-result">=&gt; "/path/to/ruby-2.6.5/bin/ruby"</span>
  irb(main):005:0&gt; w.make_from RbConfig.ruby
  <span class="command-result">=&gt; "path-to-ruby-2.6.5-bin-ruby.wav"</span></p>

  <p class="terminal">$ qlmanage -p path-to-ruby-2.6.5-bin-ruby.wav</p>
---
Ruby comes with a module called [`RbConfig`](https://idiosyncratic-ruby.com/42-ruby-config.html) that, among other things, includes a `ruby` method that returns the path to the currently running ruby interpreter.  Let’s listen to that!

As before, we pass the path into the `make_from` method and then quicklook at the result in another terminal to [hear what it sounds like](http://assets.h-lame.com/images/talks/re-interpreting-data/output/path-to-ruby-2.6.5-bin-ruby.wav):

<% audio_figure src: "http://assets.h-lame.com/images/talks/re-interpreting-data/output/path-to-ruby-2.6.5-bin-ruby.wav.m4a" do %>
  The ruby 2.6.5 interpreter as a WAV file.  Again, it's an M4A version instead of the WAV for download brevity.  The [raw WAV is here though](http://assets.h-lame.com/images/talks/re-interpreting-data/output/path-to-stegosaurus-README.wav) if you prefer the *warmth* of the original.
<% end %>

Sounds pretty good yeah?<% footnote_reference 1 %>  It’s nearly 3 minutes long, so we can skip around in the file to listen to different parts of the interpreter and get different sounds.  I *think* I could probably give up my day job and become a DJ with this banging glitchy noise-core.
