AddHandler cgi-script .r
AddType 'application/atom+xml; charset=utf-8' .atom

Redirect "/cv/" "http://assets.h-lame.com/cv/"
Redirect "/movs/" "http://assets.h-lame.com/movs/"
Redirect "/noize/" "http://assets.h-lame.com/noize/"
Redirect "/downloads/" "http://assets.h-lame.com/downloads/"
Redirect "/images/" "http://assets.h-lame.com/images/"
Redirect "/photo_albums/san_francisco_wwdc_2005/" "http://assets.h-lame.com/photo-albums/san-francisco-wwdc-2005/"
Redirect "/photo_albums/toronto_holiday_july_2005/" "http://assets.h-lame.com/photo-albums/toronto-holiday-july-2005/"
Redirect "/photo_albums/" "http://assets.h-lame.com/photo-albums/"
Redirect "/cowbra/" "http://assets.h-lame.com/cowbra/"

Redirect "/manoclock/" "http://shed.h-lame.com/manoclock/"
Redirect "/scrabble/" "http://shed.h-lame.com/scrabble/"
Redirect "/october/" "http://shed.h-lame.com/october/"
Redirect "/streetview.html" "http://shed.h-lame.com/streetview/"
Redirect "/software/" "http://shed.h-lame.com/software/"

RewriteEngine on
RewriteRule ^cvs/(.*)$ /exec/viewcvs.cgi/$1

# /exec/vanilla.r?selector=display&snip=mandals
# =>
# /mandals
# and preserve query string that's not selector or snip
RewriteCond %{QUERY_STRING} (.*)(?:^|&)selector=[^&]+(?:&|$)(.*) [NC]
RewriteCond %1&%2 (.*)(?:^|&)snip=(?:comments\-)?([^&]+)((?:&.*|$).*) [NC]
RewriteCond %2§%1%3 ([^§]+)§&?(.*) [NC]
RewriteRule ^exec/vanilla.r$ /%1?%2 [R=301,L]

RewriteCond %{QUERY_STRING} (.*)(?:^|&)snip=(?:comments\-)?([^&]+)((?:&.*|$).*) [NC]
RewriteCond %2§%1%3 ([^§]+)§&?(.*) [NC]
RewriteRule ^exec/vanilla.r$ /%1?%2 [R=301,L]

RewriteCond %{QUERY_STRING} (.*)(?:^|&)selector=[^&]+(?:&|$)(.*) [NC]
RewriteCond %1%2 (^|&)([^&].*|$)
RewriteRule ^exec/vanilla.r$ /?%1 [R=301,L]
