<header>
  <div>
    <h1><a href="http://h-lame.com">h-lame.com</a></h1>
    <nav>
      <ol>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/fox">Fox</a></li>
        <li><a href="/xmas">xmas</a></li>
      </ol>
    </nav>
  </div>
</header>
